<div class="M-div-contenedor" name="contenedor">
  <h1>Paso a paso para la consulta remota</h1>
  <div class="M-div-img" name="img">
    <img src="../../assets/texto.png" alt="" />
    <img src="../../assets/line.png" alt="" />
    <img src="../../assets/mano.png" alt="" />
    <img src="../../assets/line.png" alt="" />
    <img src="../../assets/camara.png" alt="" />
  </div>
  <div class="M-div-numeros" name="numeros">
    <p>1.</p>
    <p>2.</p>
    <p>3.</p>
  </div>
  <div class="M-div-p" name="p">
    <p>
      Completás algunas preguntas<br />
      breves y nos contás el motivo<br />
      de la consulta.<br />
      <span
        >Vamos a elegir la doctora adecuada<br />
        según su especialidad y tu necesidad.</span
      >
    </p>
    <p class="M-p-fecha" name="fecha">
      Te contactamos por y coordinamos<br />
      el pago para reservar la fecha.<br />
      <br />
      <span
        >Si tenés Swiss Medical es GRATIS* y si<br />
        no, podes pedir reintegro<br />
        *Excepto para planes que<br />
        requieren copago</span
      >
    </p>
    <p>
      Tenés la videollamada con tu<br />
      doctora, desde donde estés y sin <br />
      límite de tiempo.<br />
      <span>¡Dura lo que vos necesites!</span>
    </p>
  </div>
</div>

