<div class="H-div-cont" name="cont">
  <nav>
    <div class="H-div-nav" name="nav">
      <img src="../../assets/choiz.png" alt="" />
      <h2>Tratamientos</h2>
      <h2>Consulas online</h2>
      <h2>Quiénes somos</h2>
      <h2>Preguntas frecuentes</h2>
      <h2>Contacto</h2>
      <button class="H-button-dudas" name="dudas">¿Tenés dudas?</button>
    </div>
  </nav>
  <div class="H-div-encabezado" name="encabezado">
    <img class="H-img-elipse" name="elipse" src="../../assets/elipse.png" />

    <h1 class="H-h1">
      Cuidarte siempre te<br />
      cuesta menos con Choiz
    </h1>
    <img class="H-img-mujer" name="mujer" src="../../assets/mujer.png" alt="" />
  </div>
  <div class="H-div-ginecologia" name="ginecologia">
    <h3>
      Las mejores expertas en ginecología del<br />
      país están a tu disposición para conversar<br />
      sin que tengas que salir de tu casa.
    </h3>
    <button routerLink="modal" class="H-button-consulta" name="consulta">
      Agendar una consulta
    </button>
  </div>

  <div class="H-div-medicamentos" name="medicamentos">
    <hr class="H-hr-med" name="med" />
    <h4>Lista de medicamentos</h4>
    <h5>Pastillas</h5>
    <table>
      <tr>
        <th>Marcas que ofrecemos</th>
        <th>Laboratorio</th>
        <th>Precio <span>(sin cobertura médica)</span></th>
      </tr>
      <tr *ngFor="let med of meds">
        <td>{{ med.brand | uppercase }}</td>
        <td>{{ med.laboratory }}</td>
        <td>$ {{ med.price }}</td>
      </tr>
    </table>
    <br />
    <br />

    <h5>Anillos</h5>
    <table>
      <tr>
        <th>Marcas que ofrecemos</th>
        <th>Laboratorio</th>
        <th>Precio <span>(sin cobertura médica)</span></th>
      </tr>
      <tr *ngFor="let ring of rings">
        <td>{{ ring.brand | uppercase }}</td>
        <td>{{ ring.laboratory }}</td>
        <td>$ {{ ring.price }}</td>
      </tr>
    </table>
    <table>
      <br />
      <br />
      <h5>Parches</h5>
      <tr>
        <th>Marcas que ofrecemos</th>
        <th>Laboratorio</th>
        <th>Precio <span>(sin cobertura médica)</span></th>
      </tr>
      <tr *ngFor="let patche of patches">
        <td>{{ patche.brand | uppercase }}</td>
        <td>{{ patche.laboratory }}</td>
        <td>$ {{ patche.price }}</td>
      </tr>
    </table>
  </div>
  <h4>Preguntas frecuentes</h4>
  <div *ngFor="let res of todasRespuestas; let index = index">
    <div class="H-div-preguntas-interno" name="preguntas-interno">
      <div class="H-div-titulo-descripcion" name="titulo-descripcion">
        <h6>{{ res.title }}</h6>
        <p class="descripcion" *ngIf="indicePreguntaSeleccionada === index">
          {{ res.description }}
        </p>
      </div>
      <div class="aa">
        <img class="flecha" (click)="flechaTouch(index)" src={{image}} alt="" />
      </div>
    </div>
  </div>
  <footer>
    <div class="H-div-footer" name="footer">
      <img
        class="H-img-choiz-foo"
        name="choiz-foo"
        src="../../assets/choiz.png"
        alt=""
      />
      <p class="H-p-habl" name="habl">¡Hablemos!</p>
    </div>
  </footer>
  <div class="H-div-derechos" name="derechos">
    <p class="H-p-derec" name="derec">
      © XCALE HEALTH srl . Todos los derechos reservados.
    </p>
    <img class="H-img-logo" name="logo" src="../../assets/ig.png" alt="" />
    <img class="H-img-logo" name="logo" src="../../assets/face.png" alt="" />
    <img class="H-img-logo" name="logo" src="../../assets/ws.png" alt="" />
    <img class="H-img-logo" name="logo" src="../../assets/mail.png" alt="" />
  </div>
</div>
