<div class="H-div-cont" name="cont">
  <nav>
    <div class="H-div-nav" name="nav">
      <img src="../../assets/choiz.png" alt="" />
      <h2>Tratamientos</h2>
      <h2>Consulas online</h2>
      <h2>Quiénes somos</h2>
      <h2>Preguntas frecuentes</h2>
      <h2>Contacto</h2>
      <button class="H-button-dudas" name="dudas">¿Tenés dudas?</button>
    </div>
  </nav>
  <div class="H-div-encabezado" name="encabezado">
    <img class="H-img-elipse" name="elipse" src="../../assets/elipse.png" />

    <h1 class="H-h1">
      Cuidarte siempre te<br />
      cuesta menos con Choiz
    </h1>
    <img class="H-img-mujer" name="mujer" src="../../assets/mujer.png" alt="" />
  </div>
  <div class="H-div-ginecologia" name="ginecologia">
    <h3>
      Las mejores expertas en ginecología del<br />
      país están a tu disposición para conversar<br />
      sin que tengas que salir de tu casa.
    </h3>
    <button routerLink="modal" class="H-button-consulta" name="consulta">
      Agendar una consulta
    </button>
  </div>

  <div class="H-div-medicamentos" name="medicamentos">
    <hr class="H-hr-med" name="med" />
    <h4>Lista de medicamentos</h4>
    <h5>Pastillas</h5>
    <table>
      <tr>
        <th>Marcas que ofrecemos</th>
        <th>Laboratorio</th>
        <th>Precio <span>(sin cobertura médica)</span></th>
      </tr>
      <tr *ngFor="let med of meds">
        <td>{{ med.brand | uppercase }}</td>
        <td>{{ med.laboratory }}</td>
        <td>$ {{ med.price }}</td>
      </tr>
    </table>
    <br />
    <br />

    <h5>Anillos</h5>
    <table>
      <tr>
        <th>Marcas que ofrecemos</th>
        <th>Laboratorio</th>
        <th>Precio <span>(sin cobertura médica)</span></th>
      </tr>
      <tr *ngFor="let ring of rings">
        <td>{{ ring.brand | uppercase }}</td>
        <td>{{ ring.laboratory }}</td>
        <td>$ {{ ring.price }}</td>
      </tr>
    </table>
    <table>
      <br />
      <br />
      <h5>Parches</h5>
      <tr>
        <th>Marcas que ofrecemos</th>
        <th>Laboratorio</th>
        <th>Precio <span>(sin cobertura médica)</span></th>
      </tr>
      <tr *ngFor="let patche of patches">
        <td>{{ patche.brand | uppercase }}</td>
        <td>{{ patche.laboratory }}</td>
        <td>$ {{ patche.price }}</td>
      </tr>
    </table>
  </div>
  <div class="H-div-preguntas" name="preguntas">
    <h4>Preguntas frecuentes</h4>
    <div class="H-div-preguntas-interno" name="preguntas-interno">
      <h6>¿Qué es Choiz?</h6>
      <img
        class="H-img-abajo"
        name="abajo"
        src="../../assets/abajo.png"
        alt=""
      />
    </div>
    <div class="H-div-preguntas-interno" name="preguntas-interno">
      <h6>¿Está disponible en mi ciudad?</h6>
      <img
        class="H-img-abajo1"
        name="abajo1"
        src="../../assets/abajo.png"
        alt=""
      />
    </div>
    <div class="H-div-preguntas-interno" name="preguntas-interno">
      <h6>¿Cuál es el costo del servicio?</h6>
      <img
        class="H-img-abajo2"
        name="abajo2"
        src="../../assets/abajo.png"
        alt=""
      />
    </div>
    <div class="H-div-preguntas-interno" name="preguntas-interno">
      <h6>¿Con qué coberturas médicas trabajan?</h6>
      <img
        class="H-img-abajo3"
        name="abajo3"
        src="../../assets/abajo.png"
        alt=""
      />
    </div>
    <div class="H-div-preguntas-interno" name="preguntas-interno">
      <h6>¿Cómo se puede pagar la suscripción?</h6>
      <img
        class="H-img-abajo4"
        name="abajo4"
        src="../../assets/abajo.png"
        alt=""
      />
    </div>
    <div class="H-div-preguntas-interno" name="preguntas-interno">
      <h6>¿Necesito receta para solicitar un tratamiento?</h6>
      <img
        class="H-img-abajo5"
        name="abajo5"
        src="../../assets/abajo.png"
        alt=""
      />
    </div>
    <div class="H-div-preguntas-interno" name="preguntas-interno">
      <h6>¿Son una farmacia online?</h6>
      <img
        class="H-img-abajo6"
        name="abajo6"
        src="../../assets/abajo.png"
        alt=""
      />
    </div>
    <div class="H-div-preguntas-interno" name="preguntas-interno">
      <h6>
        ¿Si no tengo cobertura médica, el servicio de Choiz me cuesta más?
      </h6>
      <img
        class="H-img-abajo7"
        name="abajo7"
        src="../../assets/abajo.png"
        alt=""
      />
    </div>
    <div class="H-div-preguntas-interno" name="preguntas-interno">
      <h6>¿Mi información es privada?</h6>
      <img
        class="H-img-abajo8"
        name="abajo8"
        src="../../assets/abajo.png"
        alt=""
      />
    </div>
    <div class="H-div-preguntas-interno" name="preguntas-interno">
      <h6>¿Puedo cancelar mi suscripción?</h6>
      <img
        class="H-img-abajo9"
        name="abajo9"
        src="../../assets/abajo.png"
        alt=""
      />
    </div>
  </div>
  <footer>
    <div class="H-div-footer" name="footer">
      <img
        class="H-img-choiz-foo"
        name="choiz-foo"
        src="../../assets/choiz.png"
        alt=""
      />
      <p class="H-p-habl" name="habl">¡Hablemos!</p>
    </div>
  </footer>
  <div class="H-div-derechos" name="derechos">
    <p class="H-p-derec" name="derec">
      © XCALE HEALTH srl . Todos los derechos reservados.
    </p>
    <img class="H-img-logo" name="logo" src="../../assets/ig.png" alt="" />
    <img class="H-img-logo" name="logo" src="../../assets/face.png" alt="" />
    <img class="H-img-logo" name="logo" src="../../assets/ws.png" alt="" />
    <img class="H-img-logo" name="logo" src="../../assets/mail.png" alt="" />
  </div>
</div>
